<!-- =========================================
     HEADER OFICIAL
     CARTÓRIO DA MOTA
========================================= -->

<header class="header">

    <div class="header-top">


        <!-- =====================================
             TELEFONE
        ====================================== -->

        <div class="header-contact">

            <div class="contact-item">

                <i class="fa-solid fa-phone"></i>

                <div>

                    <small>
                        Telefone
                    </small>

                    <strong>
                        (64) 3651-1524
                    </strong>

                </div>

            </div>

        </div>


        <!-- =====================================
             LOGO
        ====================================== -->

        <a
            href="../../"
            class="main-logo"
            aria-label="Cartório da Mota"
        >

            <img
                src="../../img/logo.png"
                alt="Cartório da Mota"
            >

        </a>


        <!-- =====================================
             WHATSAPP
        ====================================== -->

        <div class="header-contact">

            <div class="contact-item">

                <i class="fa-brands fa-whatsapp"></i>

                <div>

                    <small>
                        WhatsApp
                    </small>

                    <strong>
                        (64) 98162-2179
                    </strong>

                </div>

            </div>

        </div>


    </div>

</header>