<!-- =========================================================
     BARRA UNIVERSAL DE AJUDA
========================================================= -->

<section class="help-section" id="duvidas">

    <div class="help-content">

        <div class="help-icon">
            <i class="fa-brands fa-whatsapp"></i>
        </div>


        <div class="help-text">

            <span>
                PRECISA DE AJUDA?
            </span>

            <h2>
                Ficou com alguma dúvida?
            </h2>

            <p>
                Nossa equipe está pronta para ajudar
                você com informações sobre serviços,
                documentos e procedimentos.
            </p>

        </div>


        <a
            href="https://wa.me/5564981622179?text=Ol%C3%A1!%20Vim%20atrav%C3%A9s%20do%20Portal%20do%20Cart%C3%B3rio%20da%20Mota%20e%20gostaria%20de%20tirar%20uma%20d%C3%BAvida."
            class="whatsapp-button"
            target="_blank"
            rel="noopener noreferrer"
        >

            <i class="fa-brands fa-whatsapp"></i>

            Falar pelo WhatsApp

        </a>

    </div>

</section>